<app-nav-bar class="mat-elevation-z6"></app-nav-bar>
<div class="container grid1">
  <!--<label class="row">Hello</label>-->
  <router-outlet></router-outlet>
 
  
  <!--<div class="footer mb-0">-->
    <!-- Copyright --
  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://alan.sealy0914@gmail.com/">Sealy Enterprise Oganization &bull; Omaha. NE &bull; Philadelphia, PA &bull; Media-IT Dept.</a>
  </div>
  <!-- Copyright -->
</div>
<!--</div>-->